{{>navbar}}

<div class="card text-center m-3">
  <div class="card-header">
    Ramazon muborak bo'lsin
  </div>
  <div class="card-body">
   <form action="/" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Ismingizni kiriting</label>
    <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp">
  </div>
  <input type="submit" class="btn btn-primary" value="Yuborish" />
</form>
  </div>
  <div class="card-footer text-muted">
    Bahodirjon Tursunov
  </div>
</div>